html, body {
    height: 100%;
}

#app {
  height: 100%;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.w-6 {
  width: 6%;
}

.wpx-45 {
  width: 45px;
}

.w-image {
  width: 100px;
  cursor: pointer;
}

.w-image-zoom {
  width: 170px;
}

.link-a {
  color: #1f85fb;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.my-table {
  max-height: 400px;
  overflow-y: auto;
}

.video {
  position: relative;
  .icon-play {
    position: absolute;
    top: 20%;
    left: 34px;
    .play-video {
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: #1f85fb;
      }
    }
  }
}

